// Variables

// Todo: Colooorrrssss!!

// $clr-primary: hsl(0, 47.2%, 85.9%);
// $clr-accent: hsl(240, 56.5%, 9%);
// Styles begin here.

@import "./partials/basic";
@import "./partials/variables";
@import "./partials/card_styles";
@import "./partials/icons";
@import "./partials/modal_styles";
@import "./partials/_navbar";

// Classes

.section__title,
.card__title {
  font-family: "Montserrat", sans-serif;
}

.landing {
  background-color: $clr-accent;
  color: $clr-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @at-root &__hero-text {
    font-size: 2.5em;
    display: none;
    font-family: "Montserrat";
    text-align: center;
    color: $clr-accent;
  }

  @at-root &__countdown {
    text-align: center;
    height: 1.05em;
    width: 90vw;
    margin-top: 2rem;
    font-size: 1.5em;
  }

  @at-root &__logo {
    height: 40vh;
    width: 40vh;
  }

  &__text {
    margin-top: 1rem;
  }
}

.sponsor__img {
  max-height: 100px;
  width: auto;
  margin: 1rem;
}

.sponsors {
  min-height: 50vh;

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // flex-wrap: wrap;
  }

  &__item {
    height: 20vh;
    flex-basis: 28%;
    img {
      max-height: 100%;
    }
    margin: 1rem;
  }
}

.section__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.section--dark {
  background-color: $clr-accent;
  color: $clr-primary;
}

.section--light {
  background-color: $clr-primary;
  color: $clr-accent;
}

.about-eee__content,
.about-tesla__content {
  line-height: 1.5em;
  text-align: center;
}

.about-eee,
.about-tesla {
  min-height: fit-content;
  padding: 10vh 1rem;
}

.about__team {
  background-color: $clr-primary;
  display: inline-block;
  text-align: center;
  // width: 7rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50vh;
  color: $clr-accent;
}

.footer {
  min-height: 30vh;
  height: 30vh;
  padding-left: 1rem;
  padding-right: 1rem;

  .section__title {
    font-size: 2em;
  }

  @at-root &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.social {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.people__email,
.people__mobile {
  padding: 0.1rem;
}

.people__email,
.social__icon {
  opacity: 0.7;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-within {
    opacity: 1;
  }
}

.social__icon {
  flex-basis: 30%;
}

.social__icon--fb,
.social__icon--ig,
.social__icon--ig {
  display: inline-block;
  padding: 1rem;
}

// Media Query Shtuff

@media only screen and (min-width: 450px) {
  .about-tesla,
  .about-eee {
    min-height: fit-content;
    padding: 15vh 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @at-root &__content {
      flex-basis: 55%;
      text-align: left;
    }
  }

  .about-eee.section__title,
  .about-tesla.section__title {
    flex-basis: 40%;
    height: 100%;
    // Fix: Fix before deploy.
    // background-image: url("../images/1.png");
    // background-image: url("../../images/1.png");
  }

  .about-eee.section__title {
    order: 1;
  }

  .about-eee__content {
    // Fix: this ;_;
    display: block;
    text-align: right;
  }

  .modal {
    // Todo: Fiiix thiiiisss...
    width: 50vw;
    overflow-x: hidden;

    @at-root &__modal-image {
      max-width: 400px;
    }
  }

  .footer {
    padding-left: 25%;
    padding-right: 25%;
  }

  .sponsors__item {
    flex-basis: 15%;
  }
}

.landing,
.footer {
  background-image: radial-gradient(
      circle at 11% 62%,
      rgba(205, 205, 205, 0.04) 0%,
      rgba(205, 205, 205, 0.04) 50%,
      rgba(149, 149, 149, 0.04) 50%,
      rgba(149, 149, 149, 0.04) 100%
    ),
    radial-gradient(
      circle at 78% 10%,
      rgba(49, 49, 49, 0.04) 0%,
      rgba(49, 49, 49, 0.04) 50%,
      rgba(254, 254, 254, 0.04) 50%,
      rgba(254, 254, 254, 0.04) 100%
    ),
    radial-gradient(
      circle at 92% 43%,
      rgba(34, 34, 34, 0.04) 0%,
      rgba(34, 34, 34, 0.04) 50%,
      rgba(206, 206, 206, 0.04) 50%,
      rgba(206, 206, 206, 0.04) 100%
    ),
    linear-gradient(329deg, rgb(241, 77, 33), rgb(218, 227, 61));
  background-attachment: fixed;
}
