// Variables

// Todo: Colooorrrssss!!

// $clr-primary: hsl(0, 47.2%, 85.9%);
// $clr-accent: hsl(240, 56.5%, 9%);

$clr-primary: white;
$clr-accent: black;

// Fonts

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf)
      format("truetype");
}

@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Courgette Regular"), local("Courgette-Regular"),
    url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoP.ttf)
      format("truetype");
}

// Styles begin here.

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 0.7rem;
  min-height: 100vh;
}

img {
  width: 100%;
}

// Classes

.landing {
  background-color: $clr-accent;
  color: $clr-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @at-root &__hero-text {
    font-size: 3em;
    font-family: "Courgette", cursive;
    text-align: center;
    // Fix: Nope :/
    background-image: linear-gradient(45deg, red, blue);
    background-size: 400%;
    background-clip: text;
    color: transparent;
    animation: coming-soon-animation 20s infinite alternate;
  }

  @at-root &__countdown {
    text-align: center;
    height: 1.05em;
    width: 90vw;
    margin-top: 2rem;
    font-size: 2.5em;
  }
}

.section__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.section--dark {
  background-color: $clr-accent;
  color: $clr-primary;
}

.section--light {
  background-color: $clr-primary;
  color: $clr-accent;
}

.footer {
  min-height: 50vh !important;
  height: 50vh;

  .section__title {
    font-size: 2em;
  }
}

// Events

.events__container {
  max-width: 96vw;
  height: auto;
  margin: 0 auto;
  // background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container__card {
  width: 48%;
  height: auto;
  margin: 1% 1%;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(black, 0.5);
  cursor: pointer;
}

.card__card-image {
  overflow: hidden;
}

.card__title {
  text-align: center;
  padding: 0.2rem;
}

.card-image__img {
  width: 100%;
  transform: scale(1);
  transition: transform 350ms ease-in;

  @at-root &:hover {
    transform: scale(1.1);
  }
}

// Modals

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.4rem 1rem 1rem 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: 90vh;
  overflow: scroll;
  background-color: $clr-primary;
  margin: auto auto;
  border-radius: 5px;
  box-shadow: 0 0 0 100vw rgba(black, 0.9);

  @at-root &--hidden {
    display: none;
  }

  @at-root &__close-btn {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    align-self: flex-end;
    cursor: pointer;
  }

  @at-root &__title {
    padding-top: 0.6rem;
    font-size: 2em;
    font-weight: bold;
    font-variant-caps: small-caps;
  }
  @at-root &__modal-image {
    margin-top: 0.4rem;
  }
}

// Keyframe animations

// Todo: Check with Sudhi before deploy.
@keyframes coming-soon-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

// Media Query Shtuff

@media only screen and (min-width: 450px) {
  .container__card {
    width: 20%;
  }

  .about-tesla,
  .about-eee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @at-root &__content {
      flex-basis: 55%;
    }
  }

  .about-eee.section__title,
  .about-tesla.section__title {
    flex-basis: 40%;
    height: 100%;
    // Fix: Fix before deploy.
    background-image: url("../images/1.png");
    background-image: url("../../images/1.png");
  }

  .about-eee.section__title {
    order: 1;
  }

  .about-eee__content {
    // Fix: this ;_;
    text-align: right;
  }

  .modal {
    // Todo: Fiiix thiiiisss...
    width: 50vw;
    overflow-x: hidden;

    @at-root &__modal-image {
      max-width: 400px;
    }
  }
}
