@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format("truetype");
}

@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Courgette Regular"), local("Courgette-Regular"), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format("truetype");
}

.events__container {
  max-width: 96vw;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card {
  width: 48%;
  height: auto;
  margin: 1% 1%;
  background-color: #0d0d0d;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.container__card:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.card__card-image {
  overflow: hidden;
}

.card__title {
  text-align: center;
  padding: 0.2rem;
  font-variant-caps: small-caps;
  border-top: 1px dotted rgba(255, 255, 255, 0.4);
}

.card-image__img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.gg-facebook {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.gg-facebook::after, .gg-facebook::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gg-facebook::before {
  content: "";
  background-color: white;
  z-index: 1;
  border-radius: 4px;
}

.gg-facebook::after {
  content: "f";
  z-index: 2;
  color: black;
  font-size: 20px;
  font-variant: bold;
}

.gg-instagram {
  position: relative;
  display: block;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.gg-instagram::after, .gg-instagram::before {
  content: "";
  display: block;
  position: absolute;
}

.gg-instagram::after {
  border: 2px solid;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px;
}

.gg-instagram::before {
  border-radius: 3px;
  width: 2px;
  height: 2px;
  background: currentColor;
  right: 1px;
  top: 1px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.4rem 1rem 1rem 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 96vw;
  height: 90vh;
  overflow: scroll;
  background-color: white;
  margin: auto auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.9);
}

.modal--hidden {
  display: none;
}

.modal__close-btn {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.modal__title {
  padding-top: 0.6rem;
  font-size: 2em;
  font-weight: bold;
  font-variant-caps: small-caps;
}

.modal__modal-image {
  margin-top: 0.4rem;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 0.7rem;
  min-height: 100vh;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.landing {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__hero-text {
  font-size: 3em;
  font-family: "Courgette", cursive;
  text-align: center;
  background-image: linear-gradient(45deg, red, blue, orange, red, blue);
  background-size: 600%;
  background-clip: text;
  color: transparent;
  -webkit-animation: coming-soon-animation 20s infinite;
          animation: coming-soon-animation 20s infinite;
}

.landing__countdown {
  text-align: center;
  height: 1.05em;
  width: 90vw;
  margin-top: 2rem;
  font-size: 2.5em;
}

.section__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.section--dark {
  background-color: black;
  color: white;
}

.section--light {
  background-color: white;
  color: black;
}

.footer {
  min-height: 30vh;
  height: 30vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer .section__title {
  font-size: 2em;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes coming-soon-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes coming-soon-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.social__icon {
  opacity: 0.2;
  cursor: pointer;
}

.social__icon:hover, .social__icon:focus, .social__icon:focus-within {
  opacity: 1;
}

.social__icon--fb,
.social__icon--ig {
  display: inline-block;
  padding: 1rem;
}

@media only screen and (min-width: 450px) {
  .container__card {
    width: 20%;
  }
  .about-tesla,
  .about-eee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-tesla__content,
  .about-eee__content {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .about-eee.section__title,
  .about-tesla.section__title {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: 100%;
  }
  .about-eee.section__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-eee__content {
    display: block;
    text-align: right;
  }
  .modal {
    width: 50vw;
    overflow-x: hidden;
  }
  .modal__modal-image {
    max-width: 400px;
  }
  .footer {
    padding-left: 25%;
    padding-right: 25%;
  }
}
/*# sourceMappingURL=style.css.map */