@import "./partials/variables";
@import "./partials/basic";
@import "./partials/navbar";

.team__landing {
  background-color: $clr-accent;
  color: $clr-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.team__title {
  margin-bottom: auto;
}

.team {
  height: 90%;
  display: flex;
  margin: auto auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    border-radius: 5px;
    height: 20vh;
    width: 25vw;
    margin: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba($clr-primary, 0.5);
    transition: box-shadow 150ms cubic-bezier(0.5, 0, 0.5, 1);
    position: relative;

    &:hover {
      box-shadow: 0 0 15px rgba($clr-primary, 0.5);
    }
  }

  &__post {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  &__name {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    color: $clr-secondary-light;
  }
  &__mobile {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: rgba($clr-primary, 0.7);
  }
}

@media only screen and (max-width: 450px) {
  .team__item {
    width: 90vw;
  }
}
