// css.gg

.gg-facebook {
  // Push this to css.gg
  position: relative;
  display: block;
  // border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px;

  &::after,
  &::before {
    display: block;
    position: absolute;
    // width: 22px;
    // height: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: "";
    background-color: $clr-primary;
    z-index: 1;
    border-radius: 4px;
  }

  &::after {
    content: "f";
    z-index: 2;
    color: $clr-accent;
    font-size: 20px;
    font-variant: bold;
  }
}

.gg-instagram {
  position: relative;
  display: block;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
  }
  &::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px;
  }
  &::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px;
  }
}
